* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Кольори */
  --color-primary: navy;
  --color-text: black;
  --color-text-sec: darkgray;
  --color-bg: white;

  /* Типографіка */
  --text-base: 16px;

  /* Радіуси */
  --radius: 4px;
}



@media (min-width: 768px) {
}

@media (min-width: 1200px) {

}