* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#boardsContainer {
    display: flex;
    flex-direction: row;

}

.boardWrapper {
    width: 300px;
    height: 300px;
    margin: 10px;
}