* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pokemons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
    padding: 1rem;
}

.pokemonCard {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.pokemonCardImg {
    width: 96px;
    height: 96px;
}

.modal {
    display: none;
    min-width: 300px;
}

.modal.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}